@model Products.Web.Models.ProductIndexModelList

<div class="opste">
    <div style="margin-bottom:2%">
        <h1 class="title">Proizvodi</h1>
        <p class="title-text">
            Prikazan je spisak svih proizvoda. Mozete da dodate, obrisete ili izmenite neki proizvod!
        </p>
    </div>
    <div class="row" style="margin-bottom:1.5%">
        <div class="col col-sm-2">
            <select name="Sort" id="sortID" class="form-control">

                <option value="Naziv">Naziv</option>
                <option value="Kategorija">Kategorija</option>
                <option value="Proizvodjac">Proizvodjac</option>
                <option value="Dobavljac">Dobavljac</option>
            </select>
        </div>
        <div class="col col-sm-5" >
            <input type="submit" id="btnSort" class="btn btn-info" value="Sortiraj" style="background-color:#116466; height:35px; width:20%" />
        </div>
    </div>
    <div class="tableMain2">
        <table class="table table-hover">
            <thead class="tableHead">
                <tr>
                    <th>Naziv proizvoda</th>
                    <th>Cena</th>
                    <th>Kategorija</th>
                    <th>Proizvodjac</th>
                    <th>Dobavljac</th>
                    <th>Izmeni/obrisi</th>

                </tr>
            </thead>
            <tbody class="tableBody">
                @if (!(Model.ProductList is null))
                {
                    @foreach (var product in Model.ProductList)
                    {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Cost</td>
                    <td>@product.CategoryName</td>
                    <td>@product.ManufacturerName</td>
                    <td>@product.SupplierName</td>

                    <td>
                        <a asp-controller="ProductJson" asp-action="Update" asp-route-id="@product.ProductId"
                           class="btn btn-info btn-sm" style="background-color:#116466">
                            Izmeni
                        </a>
                        <a asp-controller="ProductJson" asp-action="Delete" asp-route-id="@product.ProductId"
                           class="btn btn-danger btn-sm"> Obrisi </a>
                    </td>


                </tr>
                    }}
            </tbody>
        </table>

    </div>
    <div class="dodajProizvod">
        <a asp-controller="ProductJson" asp-action="Create"
           class="btn btn-info" style="background-color:#116466; height:35px">
            Dodaj proizvod
        </a>
    </div>
    <div class="title-text">
        @if (!(Model.Validate is null))
        {
            @Model.Validate.Poruka
        }
    </div>
</div>
   

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
