@model Products.Web.Models.ProductIndexModelList

<table class="table table-hover">
    <thead class="tableHead">
        <tr>
            <th>Naziv proizvoda</th>
            <th>Cena</th>
            <th>Kategorija</th>
            <th>Proizvodjac</th>
            <th>Dobavljac</th>
            <th>Izmeni/obrisi</th>

        </tr>
    </thead>
    <tbody class="tableBody">
        @if (!(Model.ProductList is null))
        {
            @foreach (var product in Model.ProductList)
            {
        <tr>
            <td>@product.ProductName</td>
            <td>@product.Cost</td>
            <td>@product.CategoryName</td>
            <td>@product.ManufacturerName</td>
            <td>@product.SupplierName</td>

            <td>
                <a asp-controller="ProductJson" asp-action="Update" asp-route-id="@product.ProductId"
                   class="btn btn-info btn-sm" style="background-color:#116466">
                    Izmeni </a>
                <a asp-controller="ProductJson" asp-action="Delete" asp-route-id="@product.ProductId"
                   class="btn btn-danger btn-sm"
                   > Obrisi </a>
            </td>


        </tr>
            }}
    </tbody>
</table>