@model Products.Web.Models.ProductIndexModelList

<div class="opste">
    <div style="margin-bottom:2%">
        <h1 class="title">Proizvodi</h1>
        <p class="title-text">
            Prikazan je spisak svih proizvoda. Mozete da dodate, obrisete ili izmenite neki proizvod!
        </p>
    </div>
    <div class="tableMain">
        <table class="table table-hover">
            <thead class="tableHead">
                <tr>
                    <th>Naziv proizvoda</th>
                    <th>Cena</th>
                    <th>Kategorija</th>
                    <th>Proizvodjac</th>
                    <th>Dobavljac</th>
                    <th>Izmeni/obrisi</th>

                </tr>
            </thead>
            <tbody class="tableBody">
                @if (!(Model.ProductList is null))
                {
                    @foreach (var product in Model.ProductList)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Cost</td>
                            <td>@product.CategoryName</td>
                            <td>@product.SupplierName</td>
                            <td>@product.ManufacturerName</td>
                            <td>
                                <a asp-controller="Product" asp-action="Update" asp-route-id="@product.ProductId">
                                    <button class="btn btn-info btn-sm" style="background-color:#116466">Izmeni </button>
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">
                                    <button class="btn btn-danger btn-sm">Obrisi </button>
                                </a>

                            </td>


                        </tr>
                    }}
            </tbody>
        </table>

    </div>
    <div class="dodajProizvod">
        <a asp-controller="Product" asp-action="Create">
            <button class="btn btn-info" style="background-color:#116466; height:35px">Dodaj proizvod</button>
        </a>
    </div>
    <div style="margin-top:1%; color:#116466">
        @if (!(Model.Validate is null))
        {
            <h5>@Model.Validate.Poruka</h5>
        }
    </div>
</div>
   

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
